h1{
    text-align: center;
}

.formContainer{
    margin:auto;
    width:100%;
    /* border: 10px; */
}
.myForm{
    display:flex;
    flex-direction: column;
    width:70% !important;
    margin: auto !important;
}
